## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
###   VACATION SEARCH 

# Dependencies and Setup
import pandas as pd
import requests
#%pip install gmaps
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kautokeino,NO,69.0125,23.0412,52.00,74,100,15.66,light rain
1,1,Bolobo,CD,-2.1667,16.2333,97.14,21,14,3.51,few clouds
2,2,Cape Town,ZA,-33.9258,18.4232,77.41,26,0,18.41,clear sky
3,3,Hobart,AU,-42.8794,147.3294,50.92,81,75,1.99,broken clouds
4,4,Nikolskoye,RU,59.7035,30.7861,82.29,27,7,9.17,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Cape Town,ZA,-33.9258,18.4232,77.41,26,0,18.41,clear sky
4,4,Nikolskoye,RU,59.7035,30.7861,82.29,27,7,9.17,clear sky
5,5,Jamestown,US,42.0970,-79.2353,70.18,86,94,7.00,overcast clouds
6,6,Avarua,CK,-21.2078,-159.7750,75.25,83,20,9.22,few clouds
7,7,Atuona,PF,-9.8000,-139.0333,77.32,75,23,28.74,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                367
City                   367
Country                362
Lat                    367
Lng                    367
Max Temp               367
Humidity               367
Cloudiness             367
Wind Speed             367
Current Description    367
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna(how = 'any')
preferred_cities_df.count()

City_ID                362
City                   362
Country                362
Lat                    362
Lng                    362
Max Temp               362
Humidity               362
Cloudiness             362
Wind Speed             362
Current Description    362
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Cape Town,ZA,77.41,clear sky,-33.9258,18.4232,
4,Nikolskoye,RU,82.29,clear sky,59.7035,30.7861,
5,Jamestown,US,70.18,overcast clouds,42.0970,-79.2353,
6,Avarua,CK,75.25,few clouds,-21.2078,-159.7750,
7,Atuona,PF,77.32,few clouds,-9.8000,-139.0333,
9,Saint George,US,85.35,clear sky,37.1041,-113.5841,
17,Carangola,BR,84.65,clear sky,-20.7331,-42.0294,
19,Paris,FR,85.55,clear sky,48.8534,2.3488,
21,Trincomalee,LK,83.30,overcast clouds,8.5711,81.2335,
23,Dovers,VC,81.57,clear sky,12.8833,-61.1833,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    #print(hotels)
    #break
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        #print("ok")
    except Exception as e:
        #print(e)
        #print(hotels)
        
                
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
#Checking the output
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Cape Town,ZA,77.41,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
4,Nikolskoye,RU,82.29,clear sky,59.7035,30.7861,Tourist House - Sablino
5,Jamestown,US,70.18,overcast clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
6,Avarua,CK,75.25,few clouds,-21.2078,-159.7750,Paradise Inn
7,Atuona,PF,77.32,few clouds,-9.8000,-139.0333,Villa Enata

In [10]:
hotel_df.count()

City                   362
Country                362
Max Temp               362
Current Description    362
Lat                    362
Lng                    362
Hotel Name             362
dtype: int64

In [11]:
#problem starts here 
#Fill empty rows with Nans and remove Nans.
import numpy as np
hotel_df_nan = hotel_df[hotel_df['Hotel Name']==''] = np.nan

In [12]:
# 7b. If there were an empty rows, would have been dropped with: Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(how = 'any')
clean_hotel_df.count()

City                   337
Country                337
Max Temp               337
Current Description    337
Lat                    337
Lng                    337
Hotel Name             337
dtype: int64

In [13]:
#7c. Checking final dataframe before exporting.
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Cape Town,ZA,77.41,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
4,Nikolskoye,RU,82.29,clear sky,59.7035,30.7861,Tourist House - Sablino
5,Jamestown,US,70.18,overcast clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
6,Avarua,CK,75.25,few clouds,-21.2078,-159.7750,Paradise Inn
7,Atuona,PF,77.32,few clouds,-9.8000,-139.0333,Villa Enata
9,Saint George,US,85.35,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
17,Carangola,BR,84.65,clear sky,-20.7331,-42.0294,Hotel Fazenda Búfalos
19,Paris,FR,85.55,clear sky,48.8534,2.3488,Hôtel Britannique - Paris Centre
21,Trincomalee,LK,83.30,overcast clouds,8.5711,81.2335,Welcombe Hotel
23,Dovers,VC,81.57,clear sky,12.8833,-61.1833,Ocean Breeze

In [14]:
# 8a. Create the output File (CSV)
 
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv("WeatherPy_vacation.csv", index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

clean_hotel_df.count()

City                   337
Country                337
Max Temp               337
Current Description    337
Lat                    337
Lng                    337
Hotel Name             337
dtype: int64

In [16]:
#NEED some help starting here  - 

# 11a. Add a marker layer for each city to the map. 

max_temp = clean_hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
            max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:



#use as example  
# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
#             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))